@import '~@c8y/style/extend.less';

// // to hide the Cumulocity IoT logo on top of navigator
// // set @extending to true
@extending: true;

// Replace and uncomment each variable as you need them

/* COLORS */
@brand-color: #53cd61; // main color
@brand-primary: @brand-color;
@brand-complementary: #a8b3b5;
@brand-primary-light: lighten(@brand-primary, 20%);
@branch-dark: #0b385b;
// status colors
@status-success: #5cb85c;
@status-info: @brand-color;
@status-warning: #f0ad4e;
@status-danger: #d9534f;
@danger: #d90000;
@warning: #fdc000;
@status-warning-dark: #ff8000;
@success: #5cb85c;
@code-color: #c7254e;
// grays
@text-color: #444;
@gray-30: #3b4748;
@gray-40: #49595b;
@gray-40: #6d7a7c;
@gray-5: #677680;
// @gray: #8a9596;
@gray-80: #cacece;
@gray-90: #f8f8f8;
@gray-100: #fcfcfc;
@gray-text: #333;
@text-muted: @gray-50;

@headings-color: #333;
@body-background-color: #f8f8f8; // page background color - always use a light background

/* HEADER */
@headerColor: white;
@header-text-color: @gray-40;
@header-text-color-hover: @brand-primary;
@header-color-active: darken(@gray-40, 15%);

/* NAVIGATOR */
@navColor: #08293f;
@navColorHeader: #08293f;
@navigator-header-color: white;
@navigator-text-color: @gray-100;
@navigator-separator-color: fade(white, 5%);
@navigator-font-family: @headings-font-family;
@navigator-font-size: 13px;
@c8y-navigator-font-size: 25px;
@navigator-color-active: white;
@navigator-border-selected: white;
@navigator-text-color-selected: white;
@navigator-active-bg: @brand-primary;
@navigator-background-selected: @brand-primary;
// when set adds a vertical gradient in the navigator background
@grad-top: "";
@grad-bottom: "";

/* TYPOGRAPHY */
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@font-family-base: @font-family-sans-serif;
@headings-font-family: "Roboto", Helvetica, Arial, sans-serif;
@font-family-headings: @headings-font-family;
@headings-font-weight: 300;
@headings-line-height: 1.15;

/* BUTTONS */
@component-border-radius-base-base: 2px;
@component-border-radius-base-large: @component-border-radius-base-base;
@component-border-radius-base-small: @component-border-radius-base-base;
@btn-shadow: none;

/* COMPONENTS */
@root-component-active-color: @brand-primary;
@component-color-active: @brand-primary;
@component-color-focus: #fff;
@spinner-color: lighten(@brand-primary, 30%);
@link-color: #337ab7;
@link-color-hover: darken(@link-color, 15%);
@form-control-border-color-focus: #66afe9;
@navigator-platform-logo-height: 28px;
@code-background: #f2f3f4;
@root-component-border: rgba(0,0,0,.05);
@root-component-label-color: @gray-text;
@component-link-color: @root-component-label-color;
@root-component-link-color: @link-color;
@link-color: @brand-primary;
@component-link-color-hover: @root-component-link-color-hover;
@root-component-link-color-hover: @link-color-hover;
@link-color-hover: @brand-primary;
@component-background: @root-component-background;
@root-component-background: #fff;
@card-border-radius: 2px;
@header-text-color: @branch-dark;
@component-brand-primary: @root-component-brand-primary;
@root-component-brand-primary: @brand-primary;

.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 5px 16px;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: border .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
    transition: border .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
    -o-transition: border .25s ease,box-shadow .25s ease,background .25s ease;
    transition: border .25s ease,box-shadow .25s ease,background .25s ease;
    transition: border .25s ease,box-shadow .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}


.navigatorContent {
    width: 240px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 4px 0 0 0;
    padding: 4px 0 0 0;
    list-style: none;
    max-height: 100%;
    background-color: @navigator-background-default;

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1001;
        height: 4px;
        background-color: @navColor;
        content: '';
    }

    .expander {
        margin-left: auto;
        transition: transform 0.25s ease;
        width: 24px;
        text-align: center;
        line-height: 30px;
        flex-shrink: 0;
        margin-right: 0;
        font-size: 16px;
    }

    .dragged {
        opacity: 1;
    }

    .link {
        display: flex;
        outline: none;
        flex-flow: row nowrap;
        align-items: center;
        border-left: @navigator-active-border-width solid transparent;
        font-size: @navigator-font-size;
        color: @navigator-text-color;

        .btn-clean {
            cursor: pointer;
            text-decoration: none;
            position: relative;
            transition: background 0.2s ease;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            flex-grow: 1;
            min-height: 40px;
            background-color: transparent;
            padding: 11px 16px;
            min-width: 0;
            color: inherit;
        }

        &:hover {
            outline: none;
        }

        c8y-navigator-icon {
            line-height: 1.7;
        }
    }

    .icon {
        font-size: 24px;
    }

    .root-link {
        font-size: 16px;

        .icon {
            font-size: 24px !important;
        }
    }
}

.powered-by {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    background: @navColor;

    p {
        margin: 4px;
        height: 15px;
        text-align: center;
        opacity: 0.8;
    }
}

.navigator {
    .title {
        width: 240px;

        .c8y-icon:after {
            color: #a2e4aa
        }

        .tenant-brand {
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            margin: 0 auto 8px;
            padding-bottom: @navigator-platform-logo-height;
            width: 208px;
        }
    }
}

.c8y-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 0;
    border-radius: 50%;
    background-color: @component-background-default;
    background-image: none;
    box-shadow: inset 0 0 0 1px @component-border-color;

    &.active {
        border-width: 3px;
        background-color: @component-color-active;
        box-shadow: none;
        color: @component-background-active;
    }

    &.step-done {
        background-color: @status-success;
        box-shadow: none;
        color: @palette-high;
    }

    &.step-error {
        background-color: @status-danger;
        box-shadow: none;
        color: @palette-high;
    }

    &.step-warning {
        background-color: @status-warning;
        box-shadow: none;
        color: @palette-high;
    }

    &:focus {
        outline: none;
    }

    .c8y-stepper--no-btns & {
        pointer-events: none;
    }
}

.btn-primary,
fieldset[disabled] .btn-primary {
    &.disabled,
    &[disabled] {
        &, &:active, &:focus, &:hover, &.active {
            background-color: @brand-primary;
            border-color: @brand-primary;
            color: #fff;
        }
    }
}

.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
    // Color the label and help text
    // Set the border and box shadow on specific inputs to match
    .form-control {
      box-shadow: inset 1px 0 0 0 @form-control-border-color-default,
        inset -1px 0 0 0 @form-control-border-color-default,
        inset 0 1px 0 0 @form-control-border-color-default, inset 0 -4px 0 @border-color!important;
      &:focus {
        color: @text-color;
        box-shadow: inset 2px 0 0 0 @brand-primary,
        inset -2px 0 0 0 @brand-primary,
        inset 0 2px 0 0 @brand-primary,
        inset 0 -4px 0 #d9534f !important;
      }
    }
  }

  .form-control-focus(@border: @form-control-border-color-focus, @bg: @form-control-background-focus, @color: @form-control-color-focus) {
    &:focus {
        background-color: #fff;
        border-color: @brand-primary;
        -webkit-box-shadow: inset 0 0 0 2px @brand-primary;
        box-shadow: inset 0 0 0 2px @brand-primary;
        color: #333;
        outline: 0
    }
  }

  .btn-primary {
    &:focus,
    &:hover {
        background: #fff;
        border-color: @brand-primary;
        -webkit-box-shadow: inset 0 0 0 1px @brand-primary;
        box-shadow: inset 0 0 0 1px @brand-primary;
        color: @brand-primary;
    }
}

.btn-primary {
    background-color: var(--brand-primary,@brand-primary);
    border-color: var(--brand-primary,@brand-primary);
    color: #fff
}

.btn-default {
    background-color: @component-background;
    border-color: @component-brand-primary;
    color: @component-brand-primary;

	&:active {
		-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
		box-shadow: inset 0 0 0 1px @component-brand-primary;
        background-color: @component-background;
        border-color: @component-brand-primary;
        color: @component-brand-primary;
	}
	&:focus {
		-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
		box-shadow: inset 0 0 0 1px @component-brand-primary;
        background-color: @component-background;
        border-color: @component-brand-primary;
        color: @component-brand-primary;
	}
	&:hover {
		-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
		box-shadow: inset 0 0 0 1px @component-brand-primary;
        background-color: @component-background;
        border-color: @component-brand-primary;
        color: @component-brand-primary;
	}
}

.btn-default.active {
	-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
	box-shadow: inset 0 0 0 1px @component-brand-primary;
}
.btn-default.focus {
	-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
	box-shadow: inset 0 0 0 1px @component-brand-primary;
}
.open {
	>.dropdown-toggle.btn-default {
		-webkit-box-shadow: inset 0 0 0 1px @component-brand-primary;
		box-shadow: inset 0 0 0 1px @component-brand-primary;
	}
}

hr {
    height: 0.1em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: @headings-color;
    font-family: @font-family-headings;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
}

code {
    background-color: @code-background;
    color: @code-color;
}

.card {
	fill: @gray-text;
	--hr-border: @root-component-border;
	--label-text-color: @root-component-label-color;
	--legend-text-color: @gray-5;
	--link-color: @component-link-color;
	--link-color-hover: @component-link-color-hover;
	background: @component-background;
	border-radius: @card-border-radius;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	color: @gray-text;
	display: block;
	margin-bottom: 24px/2;
	padding: 0;
	position: relative;
}

.form-label {
    font-weight: normal;
    font-size: larger;
}

.small-note {
    font-size: small;
    padding-top: 0.5em;
}

.small-space {
    padding: 0.5em;
}

.medium-space {
    padding: 1em;
}

.addConfig {
    min-width: 15em;
    border: 1px solid rgb(232, 232, 232);
    padding: 1em;
    margin: 1em;
}

.register-config {
    min-width: 15em;
    border: 1px solid rgb(232, 232, 232);
    padding: 1em;
    margin: 1em;
}

.addBtn {
    height: 55px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-group {
	label {
		display: block;
	}
}

.minusIcon {
    font-size: xx-large;
}

.removeBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float: right;
}

.plusIcon {
    font-size: xx-large;
    margin: auto;
}

.configTitle {
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0.5em;
}

input[type=checkbox] {
	font-size: 16px;
	line-height: normal;
	margin: 1px 0 0;
	margin-top: 1px \9;
}

input[type=radio] {
	font-size: 16px;
	line-height: normal;
	margin: 1px 0 0;
	margin-top: 1px \9;
}


.form-control-checkbox {
    margin-top: 0.5em;
    padding-left: 0.5em;
    margin-left: 0.5em;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
